<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	
	
	
	<bean id="ItemBean" class="com.demo.common.Item" >
	<property name="name" value="Fan"></property>
	<property name="qty" value="10"></property>
	
	</bean>
	
	<bean id="CustomerBean" class="com.demo.common.Customer" >
	<property name="item" value="#{ItemBean}"></property>
	<property name="itemName" value="#{ItemBean.name}"></property>
	
	</bean>
	
	</beans>