<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<bean id="OutPutHelper" class="com.demo.helper.OutPutHelper">
	<property name="outputinformation" ref="ExcelGenratorOutput"></property>
	
	</bean>
	
	<bean id="PdfGenratorOutput" class="com.demo.impl.PdfGenratorOutput"></bean>
	<bean id="ExcelGenratorOutput" class="com.demo.impl.ExcelGenratorOutput"></bean>
	</beans>
	
