<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


<bean id="ParentBean" class="com.demo.common.Person">
<property name="country" value="India"></property>
</bean>

<bean id="ChildBean" parent="ParentBean">
<property name="name" value="Bhavesh"></property>
<property name="age" value="28"></property>

</bean>

</beans>